[Unit]
Description=Install nightly neovim

[Service]
Type=oneshot
ExecStart=wget https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.appimage -O %h/.local/bin/nvim
ExecStart=chmod +x %h/.local/bin/nvim

